
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    
    --color-darkteal: #242E2D;
    --color-iceblue: #ADC2D3;
  
}   



body {
    background-color: var(--color-iceblue);
    color: var(--color-darkteal);
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}


.hdr-cnt {
    text-align: right;
    vertical-align: middle;
    padding: 5px;
    height: 32px;
    color: var(--color-iceblue);
    background-color: var(--color-darkteal);
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 14px;
}
