
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    
    --color-darkteal: #242E2D;
    --color-iceblue: #ADC2D3;
  
}   

body {
    background-color: var(--color-iceblue);
    color: var(--color-darkteal);
    line-height: 1.0;
    font-family: 'Roboto', sans-serif;
}


.hdr-cnt {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: var(--color-iceblue);
    background-color: var(--color-darkteal);
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 14px;
}

.hdr-bnr {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    width: 85%;
}

.hdr-dte {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    width: 15%;
    border-left: 1px solid var(--color-iceblue);
}

.hdr-nav {
    display: flex;
    justify-content: right;
    background-color: var(--color-iceblue);
    padding: 20px 0;
    height: 50px;
}

.hdr-nav-lgo {
    display: flex;
    justify-content: left;
}

.hdr-nav-lst {
    display: flex;
    list-style: none;
}

.hdr-nav-lst li {
    margin: 0 10px;
}


#fecha, #hora {
    font-weight: bold;
    font-size: 10px;
    color: var(--color-iceblue);
}
