@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Roboto, Arial, sans-serif; */
}

:root {

    --color-darkteal: #242E2D;
    --color-iceblue: #ADC2D3;
    --color-pri:#fed7aa;
    --color-sec: #fff7ed;



}

body {
    background-color: var(--color-pri);
    color: var(--color-darkteal);
    line-height: 1.0;
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* BARRA SUPERIOR TOPBAR CON BANNER Y FECHA/HORA  */

.hdr-cnt {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: var(--color-iceblue);
    background-color: var(--color-darkteal);
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 14px;
}

.hdr-bnr {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    width: 85%;
}

.hdr-dte {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    width: 15%;
    border-left: 1px solid var(--color-iceblue);
}


/* MENU OPCIONES */

.nav-cnt {
    display: flex;
    background: linear-gradient(to top, #fed7aa 0%, #fff7ed 100%);
    /* background: linear-gradient(135deg, #FF5F6D, #FFC371); */
    /* Opcional para mejorar la visibilidad del texto */
    padding: 1rem;
    /* background-color: var(--color-iceblue); */
    padding: 20px 0;
    height: 100px;
}

.nav-lgo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    padding: auto;
    margin-left: 10px;
    font-family: "BBH Bartle" !important;
    font-size: 20px;
}

.nav-lgo-cnt {
    display: flex;
    justify-content: center;
}


.nav-ico {
    rotate: 180deg;
}

.nav-lst {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    align-items: center;
    list-style: none;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.nav-lst li {
    margin: 0 10px;
}


#fecha,
#hora {
    font-weight: bold;
    font-size: 10px;
    color: var(--color-iceblue);
}